/*body{
  overflow-x: hidden;
}*/
.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  display: block;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.bg-light{
  background-color: #5cb85c!important;
}
.navbar-light .navbar-brand {
  color: white;
  text-shadow: 1px 1px 5px black;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
#bannerimg{
  max-width: 100%;
  
}
.ul-head{
  background-color: #5cb85c;
  color:white !important;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
